:root {
    --primary: #464b2d;
    --primary-010: ##595f39;

    --secondary: #06628a;
    --secondary-010: #06374e;

    --white: #E4E4DE;

    --black: #1B1B1B;
    --black-010: #222121;

    --grey: #9b9ba0;
}