<header>
  <img
    src="assets/img/dener.jpg"
    alt="Pedro Souza - Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Pedro Souza</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript/Typescript | Angular | NodeJS |NestJS | Python</p>
    <p>MG, Brasil</p>
    <p>
      Software Developer apaixonado por desenvolver soluções de forma ágil e
      grande curioso por segurança da informação. Atualmente focado em
      desenvolvimento web.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download curriculum
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/hc-pedrosouza/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do Whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5531xxxxxxxxx&text=oi!"
            target="_blank"
          >
            <strong>Enviar mensagem</strong>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="mailto:hc.pedrosouza+portifolio@gmail.com"
            target="_blank"
          >
            <strong>Enviar e-mail</strong>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
